{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="emails-view">
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="alert alert-danger" role="alert">
              </div>
            <div class="form-group">
                <span class="label">From: </span><input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                <span class="label">To: </span><input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>

    <div id="read-view">
        
        <div id="read-sender">
            <label for="sender">From: </label>
            <span name="sender" id="sender"></span>
        </div>
        <div id="read-recipients">
            <label for="recipients">To: </label>
            <span name ="recipients" id="recipients"></span>
        </div>
        <div id="read-subject">
            <label for="subject">Subject: </label>
            <span id="subject"></span>
        </div>
        <div id="read-time">
            <label for="time">Timestamp: </label>
            <span id="time"></span>
        </div>
        <hr>
        <div id="read-body">
            <label for="body">Body: </label>
            <div name="body" id="body">
            </div>
        </div>
        <div id="read-answer">
            <input type="button" id="answer" value="Answer"></input>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}